body {
    background-image: url("https://thumbs.dreamstime.com/z/grunge-background-african-patterns-26629599.jpg");
}

.jumbotron {
    background-color:  rgb(240, 176, 92);
    color: black;
    opacity: 0.9;
}

.container {
    padding: 50px;
    margin: 30px;
}

h1 {
    color: black;
}
