


.jumbotron {
    background-color:  rgb(240, 176, 92);
    color: black;
    opacity: 0.9;
}

.container {
    padding: 200px;
    margin: 40px;
}

h1 {
    color: black;
    text-decoration: underline;
    
}

.overlay {
    opacity: 0.9;
}